* {
    margin: 0;
    padding: 0;
  }
   /*
  body {
  background-color: rgb(160, 232, 208);*/
   
  
  body 
  {
  
   animation: bg-animation 25s infinite;
    background-size: 300%;
    background-image: linear-gradient(90deg,yellow 20%, rgb(245, 30, 30) 40% ,rgb(244, 129, 14) 60% , yellow 80%);
  }
    
  
  
  @keyframes bg-animation {
    0% {background-position: left}
    50% {background-position: right}
    100% {background-position: left}
  }
  /*--------nav bar--------*/
  .nav {
    width: 100%;
    height: 80px;
    background-color: #F00;
    position: relative;
  }
  
  .nav>.nav-header {
    display: inline;
  }
  
  .nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    margin-top: 9px;
    padding: 10px 10px 10px 10px;
  }
  
  .nav>.nav-btn {
    display: none;
  }
  
  .nav>.nav-links {
    display: inline;
    float: right;
  
  
    font-size: 18px;
  }
  
  .nav>.nav-links>a {
    display: inline-block;
    padding: 10px 20px 13px 10px;
    margin-top: 14px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #efefef;
  }
  
  .nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav>#nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
  
    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
  
    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }
  
    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
  
    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
  
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
  
    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }
  
    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }
  
    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
  }